{% extends 'webapp/base.html' %}
{% block body %}
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">

<style>


.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.xrow {
  display: table-row;
  background: #f6f6f6;
}
.xrow:nth-of-type(odd) {
  background: #e9e9e9;
}
.xrow.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.xrow.green {
  background: #27ae60;
}
.xrow.blue {
  background: #2980b9;
}
.xrow.purple {
  background: #668cff;
}
@media screen and (max-width: 580px) {
  .xrow {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

</style>




{% if appointment_done %}
Past appointments
<div class="table">
	<div class="xrow header">
		<div class="cell">ID</div>
		<div class="cell">Doctor name</div>
		<div class="cell">Date</div>
		<div class ="cell" >Not willing?</div>
	</div>

	{% for x in appointment_done %}
	<div class="xrow">
	{% for y in x %}
		<div class="cell">{{ y }}</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>
{% endif %}

{% if appointment_coming %}
Appointments coming-
<div class="table">
	<div class="xrow header green">
		<div class="cell">ID</div>
		<div class="cell">Doctor name</div>
		<div class="cell">Date</div>
		<div class ="cell" >Not willing?</div>
	</div>
	{% for x in appointment_coming %}
	<div class="xrow">
	{% for y in x %}
		<div class="cell">{{ y }}</div>
	{% endfor %}
		<form action="{% url 'delapp' %}" method="post">
			{% csrf_token %}
			<div class="cell"><button value="{{ x.0 }}" name="del">Cancel</button></div>
		</form>


	</div>
	{% endfor %}
</div>
{% endif %}


{% if record %}
Medical records-
<div class="table">
	<div class="xrow header">
		<div class="cell">Appointment-ID</div>
		<div class="cell">Doctor name</div>
		<div class="cell">Appointment date</div>
		<div class="cell">Remarks</div>
	</div>

	{% for x in record %}
	<div class="xrow">
	{% for y in x %}
		<div class="cell">{{ y }}</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>
{% endif %}


{% if report %}
Reports-
<div class="table">
	<div class="xrow header purple">
		{% for x in report_details %}
			<div class="cell">{{ x.0 }}</div>
		{% endfor %}
	</div>

	{% for x in report %}
	<div class="xrow">
	{% for y in x %}
		<div class="cell">{{ y }}</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>
{% endif %}



{% if bill %}
Bills-
<div class="table">
	<div class="xrow header blue">
		{% for x in bill_details %}
			<div class="cell">{{ x.0 }}</div>
		{% endfor %}
	</div>

	{% for x in bill %}
	<div class="xrow">
	{% for y in x %}
		<div class="cell">{{ y }}</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>
{% endif %}
	{% if appointment_done or appointment_today or appointment_coming or report or record or bill %}
	{% else %}
	<center><div class="msg" style="font-size:25px;"><br/><br/><br/>Nothing to show.<br/><br/></div></center>
	{% endif %}


	</div>
	<div class="col-md-1">
	</div>
</div>
<br/><br/><br/><br/>

<!-- <div class="modify">
	<center><h3>Modify details</h3></center>
	<hr/>
	<form action="{url 'modifypat' %}" method="post">
		{% csrf_token %}

	</form>
</div> -->


{% endblock %}