{% extends 'webapp/base.html' %}
{% block body %}
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
<style>

.login-block {
    font-family: Montserrat;
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}
</style>
<div class="container-fluid">
<div class="login-block">

    <h1>Signup</h1>
    <form action="{% url 'signup' %}" method="post">
    	{% csrf_token %}
    <input type="number" placeholder="Aadhar number" min="100000000000" max="999999999999" name="aadharNo"/>
        <input type="text" placeholder="Name"  name="name"/>
       <center> Gender
        <select name="gender" class="selectpicker">
<option value="M">Male</option>
<option value="F">Female</option>
<option value="O">Others</option>
<option value="N">Prefer not to say</option>
        </select><br/><br/></center>
            <input type="number" placeholder="Age"  min="1" name="age"/>
            <input type="number" placeholder="Phone"  min="7000000000" max="9999999999" name="phone"/>
            <input type="text" placeholder="Blood Group"  name="bloodgroup"/>
            <input type="email" placeholder="Email"  name="email" value="{{ email }}" readonly/>
            <input type="text-area" placeholder="Address" name="address">
    <input type="password" placeholder="Password"  name="password"/>
    {{ message }}
    <button>Register</button>
</form>

</div>
</div>

	</div>
	<div class="col-md-1">
	</div>
</div>


{% endblock %}